[submodule "deps/MaaFramework"]
	path = deps/MaaFramework
	url = https://github.com/MAWHA/maafw-prebuild
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "deps/ElaWidgetTools"]
	path = deps/ElaWidgetTools
	url = https://github.com/MAWHA/ElaWidgetTools.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
